body, html, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 1vw !important;
}

body {
    display: flex;
}

.wrapper {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-flow: column;
    border: 3px solid gray;
}

/* Terminal Wrapper */

.terminalWrapper {
    height: 48%;
    padding: 1%;
    display: flex;
    flex-flow: column;
    border-top: 3px solid gray;
}

/* Title image */

.titleImage {
    width: 40%;
}

/* Terminal Container */

.terminalContainer {
    flex-grow: 1;
}

#terminal {
    overflow-y: scroll;
    height: 90%;
}

.inputContainer {
    height: 10%;
    display: flex;
    flex-direction: column;
}

input {
    height: 100%;
    border-radius: 0;
    background-color: black;
    color: lightgray;
    border: 1px solid gray;
    padding: 1px;
    margin: 0;
}

input:focus {
    outline: none;
}

.contents {
    width: 100%;
    height: 50%;
    display: flex;
    font-size: 1vw;
}

.terminalText {
    color: lightgray;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    font-family: "Consolas", "Courier New", monospace;
}

/* Map */

.map {
    color: #aaa;
}

/* Disable scroll bars */

html {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* Media queries */

@media screen and (max-width: 1550px) {
    .titleImage {
        width: 40%;
    }
}

@media screen and (max-width: 1280px) {
    .titleImage {
        width: 60%;
    }
}

@media screen and (max-width: 764px) {
    .titleImage {
        width: 90%;
    }

    .contents {
        justify-content: center;
        align-items: center;
    }

    #map {

    }
}

/* Animations */

.player {
    display: inline;
    color: lightblue;
    text-shadow: 0 0 5px lightblue;
    animation: blinkingPlayer 1.2s infinite;
    -moz-animation: blinkingPlayer 1.2s infinite;
    -webkit-animation: blinkingPlayer 1.2s infinite;
    -o-animation: blinkingPlayer 1.2s infinite;
}

@keyframes blinkingPlayer {
    0% {
        color: lightblue;
        text-shadow: 0 0 5px lightblue;
    }

    40% {
        color: lightblue;
        text-shadow: 0 0 5px lightblue;
    }

    100% {
        color: rgba(0, 0, 0, 0.98);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.98);
    }
}

.otherPlayer {
    display: inline;
    color: green;
    text-shadow: 0 0 5px green;
    animation: blinkingOtherPlayer 3s infinite;
    -moz-animation: blinkingOtherPlayer 3s infinite;
    -webkit-animation: blinkingOtherPlayer 3s infinite;
    -o-animation: blinkingOtherPlayer 3s infinite;
}

@keyframes blinkingOtherPlayer {
    0% {
        color: green;
        text-shadow: 0 0 5px green;
    }

    40% {
        color: green;
        text-shadow: 0 0 5px green;
    }

    100% {
        color: rgba(0, 0, 0, 0.98);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.98);
    }
}

.objective {
    display: inline;
    color: goldenrod;
    text-shadow: 0 0 5px goldenrod;
    animation: blinkingObjective 3s infinite;
    -moz-animation: blinkingObjective 3s infinite;
    -webkit-animation: blinkingObjective 3s infinite;
    -o-animation: blinkingObjective 3s infinite;
}

@keyframes blinkingObjective {
    0% {
        color: goldenrod;
        text-shadow: 0 0 5px goldenrod;
    }

    40% {
        color: goldenrod;
        text-shadow: 0 0 5px goldenrod;
    }

    100% {
        color: rgba(0, 0, 0, 0.98);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.98);
    }
}
